@import "bootstrap/scss/bootstrap";

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: start;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 2rem;
}

.Home .card {
  // min-height: 220px;
  // height: 100%;
  margin-bottom: 20px;
}

.card-body {
  a {
    width: 100%;
  }
}

.card-img-top {
  aspect-ratio: 3/2;
  width: 100%;
  object-fit: cover;
  border-radius: 0;
}
